services:
  livetv:
    image: juestnow/livetv:main
    container_name: youtube  
    restart: always 
    ports:
      - "9500:9000" 
    volumes:
      - ./livetv_data:/root/data 
      
    environment:
      - TZ=Asia/Shanghai  
